@charset "utf-8";
/* CSS Document */

body 
{
	margin: 0px;
	padding: 0px;
	min-width: 1280px;
	overflow-x: hidden;
}

.main-container
{
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto;
}

/*Header Css*/
.header-container
{
	width: 100%;
	height: 150px;
	display: block;
	position: relative;
	
}

.header
{
	width: 85%;/* 1632px actual size(according 1920px design) */
	min-width: 1280px;
	max-width: 2125px;
	height: 100%;
	display: block;
	margin: 0 auto;

}

.header-border
{
	width: 100%;
	height: auto;
	min-width: 1100px;
	max-width: 1920px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -15px;
}

.logo-holder
{
	/*size belong to header*/
	
	width: 27%;/* 440px actual size */
	min-width: 300px;
	height: 100%;
	float: left;
	
}

.logo-holder a img
{
	float: left;
	display: inline-block;
	margin-top: 30px;
	margin-left: 10px;
}

.navigation-holder
{
	/*size belong to header*/
	
	width: 68%;/* 1100px actual size */
	min-width: 880px;
	height: 100%;
	display: inline-block;

}

.navigation
{
	/*size belong to navigation-holder*/
	
	width: 85%;/* 905px actual size */
	min-width: 745px;
	height: 100%;
	margin-top: 0px;
	float: left;
	margin-left: 0px;
	padding: 0px;
	text-align: center;
}

.navigation li
{
	width: 150px;
	height: 50px;
	float: left;
	margin-top: 40px;
	padding-top: 15px;
	margin-left: 5%;
	list-style: none;
}
.navigation li a
{
	font-family: 'Arial';
	font-size: 30px;
	text-decoration: none;
	color: black;
}

.navigation li a:hover
{
 	border-bottom: solid 2px grey;
}

#services-border
{
	width: 170px;
	border-radius: 32px;
	border: solid 2px #2b2b2b;
}

#services-border:hover
{
	background: lightgrey;
}

.header-profile-holder
{
	/*size belong to navigation-holder*/
	
	width: 15%;
	min-width: 125px;
	height: 100%;
	float: right;
}

.header-profile-holder img
{
	float: right;
	margin-top: 30px;	
}
/*End Header css*/

.guidecontainer{
	width: 100%;
	height: 1147px;
	background-color: #D2F1FF;
	display: inline-block;
}

.howitwork{
	width: 459px;
	height: 70px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-image: url('../images/guide/howitwork.png');
	background-repeat: no-repeat;
	font-family: 'Quicksand-Bold';
	font-size: 55px;
	text-align: center;
	padding-top: 18px;
	color: #15BCB8;
	
}

.allstepcontainer{
	width: 100%;
	height: 728px;
	margin: 90px auto 0px auto;
	display: block;
	text-align: center;
}

.step-container{
	display: inline-block;

}

.step-holder{
	width: 20%;
	height: 728px;
	margin-left: 10%;
	text-align: center;
	float: left;
}

.step-holder img{
	width: 100%;
	height: auto;
}
.step-holder h1{
	font-family: 'Quicksand-Bold';
	font-size: 65px;
	color: #53DEE5;
	margin: 0px;
}

.step-holder h2{
	font-family: 'Quicksand-Bold';
	font-size: 30px;
	color: #089692;
	margin: 0px;
}

.step-holder p{
	font-family: 'Quicksand-Book';
	font-size: 25px;
	color: #21BFBB;
	margin: 40px 0px 0px;
}



/*Footer css*/
.footer-container
{
	width: 100%;
	height: 365px;
	display: block;
	position: relative;
	background: linear-gradient(180deg, #ffffff 82%, #727272 18%)
}

.footer
{
 	/* size belong to footer-container */
	
	width: 85%;/* 1632px actual size(according 1920px design) */
	height: 100%;
	min-width: 1280px;
	max-width: 2125px;
	display: block;
	margin: 0 auto;
}

.footer-border
{
	width: 100%;
	height: auto;
	min-width: 1100px;
	max-width: 1920px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top:-15px;
}

.foot-nav-holder
{
	/* size belong to footer */
	
	width: 100%;
	height: 300px;
	display: block;
}

.foot-nav-left
{
	/* size belong to footer-nav-holder */
	
	width: 65%;/* actual size 1060px */
	height: 100%;
	float: left;
}

.foot-nav-box
{
	/* size belong to foot-nav-left */
	
	width: 17%; /*actual size 183px */
	height: 220px;
	float: right;	
	margin-top: 30px;
	margin-right: 7%;
}

.foot-nav-box ul
{
	padding-left: 7%;
}

.foot-nav-box ul li
{
	list-style: none;
	margin-top: 8px;
}

.foot-nav-box ul li a
{

	text-decoration: none;
	font-family: 'Quicksand-Book';
	font-size: 16px;
	color: #474747;
}

.foot-nav-box ul li a:hover
{

	border-bottom: solid 1px grey;
}

.foot-nav-title
{
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 20px;
	color: #383838;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 8%;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: solid 1.4px black;
}

.foot-nav-right
{
	/* size belong to footer-nav-holder */
	
	width: 35%;/* actual size 571px */
	height: 100%;
	float: right;
}

.foot-notify-box
{
	/* size belong to footer-nav-right */
	
	width: 83%;/*actual size 475px */
	height: 180px;
	float: right;
	margin-top: 55px;
}

.foot-notify-title1
{
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 25px;
	color: #383838;
	padding:0px;
	margin: 0px;
}

.foot-notify-title2
{
	font-family: 'Quicksand-Light';
	font-size: 25px;
	color: #383838;
	padding:0px;
	margin: 0px;
}

.notify-input
{
	/* size belong to footer-notify-box*/
	
	width: 90%;
	height: 42px;
	background: #cecece;
	margin-top: 20px;
	border-radius: 23px;
	border-width: 0px;
	box-sizing: border-box;
}

input[type="text"]
{
	padding-left: 5%;
}
input
{
	-webkit-appearance: textfield;
	cursor: text;
}

.foot-logo-holder
{
	/* size belong to foot-logo-holder*/
	width: 100%;
	height: 65px;
	display: block;
		
}

.partner-logo-holder
{
	/* size belong to footer*/
	
	width: 70%;/* actual size 731px */
	height: 100%;
	float: left;
	
}

.partner-logo-holder img
{
	float: left;
	margin-left: 10%;
	
}

.social-logo-holder
{
	/* size belong to footer*/
	
	width: 30%; /* actual size 251px */
	height: 100%;
	float: right;
}

.social-logo-holder a img
{
	
	margin-top: 15px;
	margin-right: 7%;
	float: right;
}
/*End Footer css*/

